dinov3_convnext_base_pretrain_lvd1689m-801f2ba9.pth

# Generated plots, scores, and results
plots/
plots_early/
scores_csv/
results/


# Local data, weights, outputs and caches
data_/
data_models/
logs/
__pycache__/
.ipynb_checkpoints/
